nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="/") Angular-xeditable

    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li.active
          a(href="") Home
        li
          a(href="https://github.com/vitalets/angular-xeditable") Github

      form.navbar-form.navbar-right
        a.btn.btn-primary(href="zip/angular-xeditable-"+version+'.zip') Download #{version} ~ #{size}k

      div(style="padding-top: 13px")
        include social.html
