:markdown
  **Angular-xeditable** is a bundle of [AngularJS](http://angularjs.org) directives that allows you to create
  *editable elements*.  
  Such technique is also known as *click-to-edit* or *edit-in-place*.  
  It is based on ideas of [x-editable](http://vitalets.github.io/x-editable) but was written from scratch
  to use power of angular and support complex forms / editable grids.

h4 Dependencies
:markdown
  Basically it does not depend on any libraries except [AngularJS](http://angularjs.org) itself.    
  For themes you may need to include [Twitter Bootstrap](http://getbootstrap.com) CSS.  
  For some extra controls (e.g. datepicker) you may need to include [angular-ui bootstrap](http://angular-ui.github.io/bootstrap/).

h4 Controls & Features
table(style="width: 50%; min-width: 200px")
  tr
    td(style="width: 50%; vertical-align: top")
      :markdown
        * [text](#text-simple)        
        * [textarea](#textarea)
        * [select](#select-local)
        * [checkbox](#checklist)
        * [radio](#radiolist)
        * [date](#bsdate)
        * [time](#bstime)
        * [datetime](#combodate)
        * [html5 inputs](#html5-inputs)        
        * [typeahead](#typeahead)

    td(style="width: 50%; vertical-align: top")
      :markdown
        * [complex form](#editable-form)
        * [editable row](#editable-row)
        * [editable column](#editable-column)
        * [editable table](#editable-table)
        * [themes](#themes)
