//theme: Bootstrap 3, Bootstrap 2, default
link(href="libs/bootstrap/3.3.6/css/bootstrap.css", rel="stylesheet", media="screen")

//ui-select css
link(href="libs/ui-select/0.16.1/select.css", rel="stylesheet", media="screen")

//ng-tags css
link(href="libs/ng-tags/3.1.1/ng-tags-input.min.css", rel="stylesheet", media="screen")
link(href="libs/ng-tags/3.1.1/ng-tags-input.bootstrap.min.css", rel="stylesheet", media="screen")

//xeditable css
link(href="dist/css/xeditable.css", rel="stylesheet", media="screen")

//docs css
link(href="docs/css/docs.css", rel="stylesheet", media="screen")

//angular
script(src='libs/angular/1.5.0/angular.js')
script(src='libs/angular/1.5.0/angular-mocks.js')

//jquery (needed for bootstrap)
script(src="libs/jquery/jquery-1.10.2.min.js")

//bootstrap
script(src="libs/bootstrap/3.3.6/js/bootstrap.js")

//angular-ui-bootstrap
script(src="libs/angular-ui/bootstrap/ui-bootstrap-tpls-1.3.1.min.js")

//ui-select
script(src="libs/ui-select/0.16.1/select.js")

//ng-tags
script(src="libs/ng-tags/3.1.1/ng-tags-input.min.js")

//moment
script(src="libs/moment.min.2.12.0.js")

//google-code-prettify
script(src='libs/google-code-prettify/run_prettify.js')

//checklist-model
script(src='libs/checklist-model.js')

//app
script(src='docs/js/app.js')

//xeditable
script(src='dist/js/xeditable.min.js')