//theme: Bootstrap 3
link(ng-repeat="c in css", ng-href="{{c}}", rel="stylesheet", media="screen")
link(href="bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet", media="screen")
link(href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css", rel="stylesheet", media="screen")

//ui-select css
link(href="bower_components/angular-ui-select/dist/select.css", rel="stylesheet", media="screen")

//ng-tags css
link(href="bower_components/ng-tags-input/ng-tags-input.css", rel="stylesheet", media="screen")
link(href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css", rel="stylesheet", media="screen")

//jquery-ui css
link(href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css", rel="stylesheet", media="screen")

//xeditable css
link(href="src/css/xeditable.css", rel="stylesheet", media="screen")

//docs css
link(href="docs/css/docs.css", rel="stylesheet", media="screen")

//jquery (needed for bootstrap)? for dev include before angular!
script(src="bower_components/jquery/dist/jquery.js")

//jquery ui
script(src="bower_components/jquery-ui/jquery-ui.js")

//angular
script(src='bower_components/angular/angular.js')
script(src='bower_components/angular-mocks/angular-mocks.js')

//bootstrap
script(src="bower_components/bootstrap/dist/js/bootstrap.js")

//angular-ui-bootstrap
script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")

//angular-ui-date
script(src="bower_components/angular-ui-date/dist/date.js")

//ui-select
script(src="bower_components/angular-ui-select/dist/select.js")

//ng-tags
script(src="bower_components/ng-tags-input/ng-tags-input.js")

//moment
script(src="bower_components/moment/moment.js")
    
//google-code-prettify
script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')

//checklist-model
script(src='bower_components/checklist-model/checklist-model.js')

//app
script(src='docs/js/app.js')

//xeditable
script(src='src/js/module.js')
script(src='src/js/helpers.js')
script(src='src/js/themes.js')
script(src='src/js/icons.js')

script(src='src/js/editable-form/controller.js')
script(src='src/js/editable-form/directive.js')

script(src='src/js/editable-element/controller.js')
script(src='src/js/editable-element/directive.js')

script(src='src/js/directives/input.js')
script(src='src/js/directives/select.js')
script(src='src/js/directives/textarea.js')
script(src='src/js/directives/checkbox.js')
script(src='src/js/directives/bsdate.js')
script(src='src/js/directives/bstime.js')
script(src='src/js/directives/radiolist.js')
script(src='src/js/directives/checklist.js')
script(src='src/js/directives/uiselect.js')
script(src='src/js/directives/ngtags.js')
script(src='src/js/directives/combodate.js')
script(src='src/js/directives/uidate.js')


