//theme: Bootstrap 3, Bootstrap 2, default
link(href="libs/bootstrap/3.0.0/css/bootstrap.css", rel="stylesheet", media="screen")

//xeditable css
link(href="dist/css/xeditable.css", rel="stylesheet", media="screen")

//docs css
link(href="docs/css/docs.css", rel="stylesheet", media="screen")

//angular
script(src='libs/angular/1.2.7/angular.js')
script(src='libs/angular/1.2.7/angular-mocks.js')

//jquery (needed for bootstrap)
script(src="libs/jquery/jquery-1.10.2.min.js")
//bootstrap
script(src="libs/bootstrap/3.0.0/js/bootstrap.js")

//angular-ui-bootstrap
script(src="libs/angular-ui/bootstrap/ui-bootstrap-tpls-0.6.0.min.js")

//moment
script(src="libs/moment.min.2.5.0.js")

//google-code-prettify
script(src='libs/google-code-prettify/run_prettify.js')

//checklist-model
script(src='libs/checklist-model.js')

//app
script(src='docs/js/app.js')

//xeditable
script(src='dist/js/xeditable.min.js')