//theme: Bootstrap 3
link(href="bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet", media="screen")

//ui-select css
link(href="bower_components/angular-ui-select/dist/select.css", rel="stylesheet", media="screen")

//ng-tags css
link(href="bower_components/ng-tags-input/ng-tags-input.css", rel="stylesheet", media="screen")
link(href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css", rel="stylesheet", media="screen")

//jquery-ui css
link(href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css", rel="stylesheet", media="screen")

//xeditable css
link(href="dist/css/xeditable.css", rel="stylesheet", media="screen")

//docs css
link(href="docs/css/docs.css", rel="stylesheet", media="screen")

//jquery (needed for bootstrap)
script(src="bower_components/jquery/dist/jquery.js")
    
//jquery ui
script(src="bower_components/jquery-ui/jquery-ui.js")
        
//angular
script(src='bower_components/angular/angular.js')
script(src='bower_components/angular-mocks/angular-mocks.js')
script(src='bower_components/angular-sanitize/angular-sanitize.js')
    

//bootstrap
script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    
//angular-ui-date
script(src="bower_components/angular-ui-date/dist/date.js")
    
//angular-ui-bootstrap
script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")

//ui-select
script(src="bower_components/angular-ui-select/dist/select.js")

//ng-tags
script(src="bower_components/ng-tags-input/ng-tags-input.js")

//moment
script(src="bower_components/moment/moment.js")

//google-code-prettify
script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')

//checklist-model
script(src='bower_components/checklist-model/checklist-model.js')

//app
script(src='docs/js/app.js')

//xeditable
script(src='dist/js/xeditable.min.js')