section#bootstrap3
h1 Themes
h2 Bootstrap 3
:markdown
  Include [Bootstrap 3](http://getbootstrap.com) CSS

pre.prettyprint
  = '<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">'

:markdown
  Set theme in `app.run`:

pre.prettyprint.
  app.run(function(editableOptions) {
    editableOptions.theme = 'bs3';
  });

:markdown
  To have smaller or bigger controls modify `inputClass` and `buttonsClass` properties of theme: 

pre.prettyprint.
  app.run(function(editableOptions, editableThemes) {
    editableThemes.bs3.inputClass = 'input-sm';
    editableThemes.bs3.buttonsClass = 'btn-sm';
    editableOptions.theme = 'bs3';
  });

section#bootstrap2
h2 Bootstrap 2
:markdown
  Include [Bootstrap 2](http://getbootstrap.com/2.3.2) CSS

pre.prettyprint
  = '<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">'

:markdown
  Set theme in `app.run`:

pre.prettyprint.
  app.run(function(editableOptions) {
    editableOptions.theme = 'bs2';
  });

section#default
h2 Default
:markdown
  No includes required!  
  You can customize theme by overwriting it's properties:

pre.prettyprint.
  app.run(function(editableOptions, editableThemes) {
    editableThemes['default'].submitTpl = '&lt;button type="submit"&gt;ok&lt;/button&gt;';
    editableOptions.theme = 'default';
  });

:markdown
  Available properties of each theme you can see in source
  [themes.js](https://github.com/vitalets/angular-xeditable/tree/master/src/js/themes.js)