body { 
  /*padding-top: 50px; */
}

.sidebar {
  position: fixed; 
  top: 70px; 
  width: 200px;
}

.sidebar .nav li a {
  padding: 5px 15px;
}

/* overwrite ugly google-prettify style */
pre.prettyprint {
  padding: 10px !important;
  border: 1px solid #cccccc !important;
}

.line-example {
  min-height: 75px;
}

form[name="editableForm"] > div {
  height: auto;
  padding: 5px 0;
}

form[name="editableForm"] > div > strong {
  vertical-align: top;
}

div[ng-controller] table tr td {
  height: 45px;
  /*text-align: center;*/
  vertical-align: middle;
}

section {
  padding-top: 40px;
}

footer {
  text-align: center;
}