body { 
  /*padding-top: 50px; */
}

.navbar-brand {
  background: url("../img/angular32.jpeg") left center no-repeat;
  padding-left: 38px;
  margin-left: 0 !important;
}

.sidebar {
  position: fixed; 
  top: 70px; 
  width: 230px;
}

.sidebar > .nav > li > a {
  padding: 5px 15px 5px 5px;
  font-size: 1.2em;
}

.sidebar > .nav > li > .nav > li > a {
  padding: 5px 15px 5px 15px;
  font-size: .9em;
}

.sidebar li.active > a {
  color: #2a6496;
  font-weight: bold;
}

.sidebar > .nav > li > .nav {
  display: none;
}

.sidebar > .nav > li.active > .nav {
  display: block;
}

/* overwrite ugly google-prettify style */
pre.prettyprint {
  padding: 10px !important;
  border: 1px solid #cccccc !important;
}

.line-example {
  min-height: 75px;
}

form[name="editableForm"] > div {
  height: auto;
  padding: 5px 0;
}

form[name="editableForm"] > div > strong {
  vertical-align: top;
}

div[ng-controller] table tr td {
  height: 45px;
  /*text-align: center;*/
  vertical-align: middle;
}

section {
  padding-top: 40px;
}

footer {
  text-align: center;
}